body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

div.container a.brand {
    background: url("../images/ma-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}